* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

body {
  font-family: 'Cabin', sans-serif;
  background-color: black;
  font-family: "Cabin", sans-serif;
}