* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

body {
  font-family: "Cabin", sans-serif;
  background-color: #000000;
  font-family: "Cabin", sans-serif;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.scroll-area {
  scroll-snap-align: start;
  height: 100vh;
}

@media (max-width: 393px) {
  .scroll-container {
    height: 660px;
  }

  .scroll-area {
    height: 660px;
  }
}
