/* Background and structure */
.info-container {
  max-width: 100vw;
  margin-inline: auto;
  height: 100vh;
  background-color: #ffffff;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(/assets/desktopA.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Logo container  */
.logo-container {
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.logo-box {
  padding-top: 20px;
  padding-left: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  cursor: pointer;
  position: fixed;
  top: 0;
  z-index: 999;
}
.nav-buttons {
  display: none;
  position: sticky;
  top: 0;
}
.logo-container:hover .nav-buttons {
  display: block;
  padding-top: 10px;
}
.nav-buttons a {
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  padding: 0 5px;
}
.active-link {
  border-bottom: 3px solid #0ac6ff;
}
/* Launch info */
.launch-info {
  height: 40%;
  display: flex;
  justify-content: end;
}
.info-box {
  padding: 20px 50px 20px 20px;
  height: fit-content;
  max-width: 450px;
  background-color: #141414;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
}
.info-box p {
  font-size: 28px;
}
/* Countdown container */
.count-down-container {
  height: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 3;
}
.countdown-box {
  height: fit-content;
  width: 70%;
  padding: 35px 0;
  background-color: #141414;
  border-radius: 5px;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
.next-launch {
  font-size: 22px;
  color: #0ac6ff;
  font-weight: bold;
}
.countdown {
  display: flex;
}
.separateTime {
  text-align: center;
}
.timeChange {
  width: 150px;
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 2%;
}

.times {
  font-size: 16;
}

@media (min-width: 1800px) {
  .logo-box {
    margin-left: 10%;
  }
  .info-box {
    margin-right: 10%;
    border-radius: 5px;
  }
}
@media (max-width: 834px) {
  .logo-box {
    padding-top: 2%;
    padding-left: 2%;
    align-items: flex-start;
    justify-content: center;
  }
  .logo-box img {
    width: 80%;
    height: 80%;
  }
  .nav-buttons a {
    font-size: 26px;
  }
  .launch-info {
    justify-content: center;
  }
  .info-box {
    height: fit-conten;
    width: 80%;
    border-radius: 5px;
  }
  .countdown-box {
    width: 80%;
    height: fit-content;
    text-align: center;
  }
  .info-box p {
    font-size: 22px;
  }
  .next-launch {
    font-size: 18px;
  }
  .timeChange {
    width: 80px;
    font-size: 50px;
  }
  .times {
    font-size: 8px;
  }
}
@media (max-width: 393px) {
  .logo-box img {
    width: 70%;
    height: 70%;
  }
  .info-box {
    height: fit-content;
    width: 80%;
    overflow: hidden;
  }
  .nav-buttons a {
    font-size: 20px;
  }
  .countdown {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
    justify-content: center;
  }
  /* .timeChange {
    font-size: 30px;
  }
  .times {
    font-size: 10;
  } */
}
@media (max-height: 699px) {
  .count-down-container {
    justify-content: flex-start;
  }
  .countdown-box {
    padding: 35px;
    width: 650px;
    align-items: center;
    justify-content: space-around;
  }
}